{% if viewNav != 'false' %}
<div class="navbar-logo">
    <a href='{{BASE_URL}}'>
        <h3>
            socialcube
        </h3>
    </a>
</div>
<header class="navbar" id="navbar">
    <div class="navbar-links">
        <a href="{{BASE_URL}}" class="nav-item is-active" data-nav='{{BASE_URL}}'>
            <div>
                <i data-icon='explore'></i>
                <span>
                    Explorar
                </span>
            </div>
        </a>
        <a href="{{BASE_URL}}user/login" class="nav-item" data-nav='{{BASE_URL}}user/login'>
            <div>
                <i data-icon='chat'></i>
                <span>
                    Messages
                </span>
            </div>
        </a>
        <a href="{{BASE_URL}}" class="nav-item" data-nav='{{BASE_URL}}'>
            <div>
                <i data-icon='face'></i>
                <span>
                    Mi perfil
                </span>
            </div>
        </a>
        <a href="{{BASE_URL}}logout" class="nav-item" data-nav='/logout'>
            <div>
                <i data-icon='face'></i>
                <span>
                    Cerrar Sesion
                </span>
            </div>
        </a>
    </div>
</header>
{% endif %}