{% extends '@layout/default.twig' %}

{% set title = 'Perfil' %}
{% set isOwned = isOwned %}

{% block content %}

{# si el usuario de la imagen no es dueño muestra una vista #}
{% if isOwned == 0 %}
<div class="container has-top-margin">
    <div class="user">
        <div class="user__container">
            <div class="user__block">
                <img src="{{BASE_URL}}images/{{user.image_uuid}}" alt="Este usuario no tiene foto de perfil" class="user__image">
            </div>
            <div class="user__block">
                <div class="user__row">
                    <hr>
                    <span class="user__name">
                        {{user.name ~ ' ' ~ user.surname}}
                        <br>
                        @{{user.nickname}}
                    </span>
                    
                    <div class="user__buttons">
                        <a href="{{BASE_URL}}" class="user__button">Enviar mensaje</a>
                        <a href="{{BASE_URL}}" class="user__button">
                            <i data-icon="person"></i>
                            <i data-icon="done"></i>
                        </a>
                        <a href="{{BASE_URL}}" class="user__button"><i data-icon="keyboard_arrow_down"></i></a>
                        <button href="{{BASE_URL}}" class="user__button user__button--menu">Enviar mensaje</button>
                        
                        
                        <hr>
                        {# comprueba si el usuario ya esta siguiendo el usuario de esta página #}


                        <button href="{{BASE_URL}}" class="add_follower">Seguir usuario</button>

                        <button href="{{BASE_URL}}" class="delete_follower">Dejar de seguir</button>

                    </div>
                    
                </div> 
                <div class="user__row user__socials">
                    <hr>
                    <div class="user__social">
                        <p class="user__text">Publicaciones <span class="user__date">(445)</span></p>
                    </div>
                    <hr>
                    <div class="user__social">
                        <p class="user__text">Seguidores <span class="user__date">({{data.0|slice(0, -1)}})</span></p>
                    </div>
                    <hr class="followers_hr">
                    <div class="user__social">
                        <p class="user__text">Sigue a <span class="user__date">({{data.1|slice(0, -1)}})</span></p>
                    </div>
                    <hr>
                </div>
                <div class="user__row">
                    <p class="user__paragraph">
                        {{user.biography}}
                    </p>
                </div>
            </div>
        </div>
        <div class="user__container">
            <div class="posts">
                {% include '@components/posts/post.twig' with {post: post} %}
            </div>
        </div>
    </div> 
</div>

<script>
$(document).ready(function()
{
    var isset_follower = {{isset_follower}}

    if(isset_follower == 0)
    {
        $('.add_follower').show()
        $('.delete_follower').hide()
    }
    else
    {
        $('.add_follower').hide()
        $('.delete_follower').show()
    }


})


$(".add_follower").click(function()
{
    
    $.ajax({
        url: '{{BASE_URL}}add_follower',
        data:{
            'user': '{{user.id}}'
        },
        type: 'POST',
    })

    $('.add_follower').slideUp()
    $('.delete_follower').slideDown()

})

$(".delete_follower").click(function()
{
    
    $.ajax({
        url: '{{BASE_URL}}delete_follower',
        data:{
            'user': '{{user.id}}'
        },
        type: 'POST',
    })

    $('.delete_follower').slideUp()
    $('.add_follower').show()

})

</script>

{# y si es el dueño muestra otra #}
{% else %}

<div class="container has-top-margin">
    <div class="user">
        <div class="user__container">
            <div class="user__block">
                <img src="{{BASE_URL}}images/{{user.image_uuid}}" alt="Este usuario no tiene foto de perfil" class="user__image">
            </div>
            <div class="user__block">
                <div class="user__row">
                    <hr>
                    <span class="user__name">
                        {{user.name ~ ' ' ~ user.surname}}
                        <br>
                        @{{user.nickname}}
                    </span>
                </div> 
                <div class="user__row user__socials">
                    <hr>
                    <div class="user__social">
                        <p class="user__text">Publicaciones <span class="user__date">(445)</span></p>
                    </div>
                    <hr>
                    <div class="user__social">
                        <p class="user__text">Seguidores <span class="user__date">({{data.0|slice(0, -1)}})</span></p>
                    </div>
                    <hr>
                    <div class="user__social">
                        <p class="user__text">Sigue a <span class="user__date">({{data.1|slice(0, -1)}})</span></p>
                    </div>
                    <hr>
                </div>
                <div class="user__row">
                    <p class="user__paragraph">
                        {{user.biography}}
                    </p>
                </div>
            </div>
        </div>
        <div class="user__container">
            <div class="posts">
                {% include '@components/posts/post.twig' with {post: post} %}
            </div>
        </div>
    </div> 
</div>

{% endif %}

{% endblock %}