<!DOCTYPE html>
<html lang="es">
{% set BASE_URL = 'http://localhost/RedSocialZ/'%}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
    <title>{{title|default('SocialCube')}}</title>
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="{{BASE_URL}}assets/css/main.css?v={{appVersion}}">
=======
    <title>{{title|default('New Page')}}</title>
    
    {# bloque head #}
    {% block head %}{% endblock %}
    
    <link rel="stylesheet" href="/assets/css/main.css?v={{appVersion}}">
>>>>>>> b85dbed446613f5b58b65335fe1137e8269fb1d9
</head>

<body>
    {% include '@components/layout/navbar.twig' %}
    <main id="swup" class="transition-fade">
    
        {# contenido #}
        {% block content %}{% endblock %}
    
    </main>
    <script type="module" src="{{BASE_URL}}assets/js/app.js?v={{appVersion}}"></script>
</body>
</html>