<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title|default('New Page')}}</title>

    {# bloque head #}
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="https://stc.sandmy.com/css/icons/brands.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{BASE_URL}}/assets/css/main.css?v={{appVersion}}">
</head>

<body>
    {% include '@components/layout/navbar.twig' %}
    <main id="swup" class="transition-fade">

        {# contenido #}
        {% block content %}{% endblock %}

    </main>
    <script type="module" src="{{BASE_URL}}assets/js/app.js?v={{appVersion}}"></script>
</body>
</html>