<div class="post">
    {% include "@components/posts/user.twig" %}

    {# Muestra el contenido si el usuario desbloqueo el post o es el autor del post #}
    {% if not post.isSecret or post.unlocked or post.user.id == currentUser.id  %}
        <a href="{{BASE_URL}}p/{{hashid(post.id)}}">
            <p class="post-description">
                {{litemoji(post.content)|raw}}
            </p>
        </a>
    {% else %}
        <p class="post-description opacity:1">
            {{litemoji(post.description)|raw}}
        </p>
        <button class="post-lock" onclick="unlock('{{litemoji(post.description)|raw}}', '{{post.id}}');">
            <i data-icon="lock"></i>
            Desbloquear
        </button>
    {% endif %}

    {% if post.isSecret %}
        <div class="post-itents">
            <div class="open">
                10 <i data-icon="key"></i>
            </div>
            <div class="fail">
                64 <i data-icon="sentiment_very_dissatisfied"></i>
            </div>
        </div>
    {% endif %}

    {% if post.isSecret %}
        <div class="post-percentage">
            <div class="open"></div>
            <div class="fail"></div>
        </div>
    {% else %}
        <hr>
    {% endif %}

    {% include "@components/posts/buttons.twig" %}
</div>